body{
	background: #FFF;
	width: 100%;
	height: 100%;
	min-width: 992px;
	font-family: Allegro;

}

header{
	background: #9CD9C2;
	border-radius: 0 0 10px 10px;
	border: 1px solid #FDF063;
	
}


.aba-nome{
}

.aba-hamburguer{
}

.nome-site{
	margin-top: 1.5%;
	width: 100%;
}

.nome-site a{
	text-decoration: none;
	color: #000;
}

.nome-site img{
	margin-left: 15.5%;

}

.logo-hamburguer{
	border: 1px solid #000;
	width: 5.4%;	
	margin-left: 80%;
	margin-top: 2%;
	padding: 1%;
	border-radius: 4px;
	background: aliceblue;
}

/*menu hamburguer*/



.hamburguer-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: black;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 0;
  width: 25%;
  background-color: white;
  border: 2px solid #FFF;
  z-index: 1;
  border-radius: 10px;
}

.nav-links li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  background: #FFF;
  border-radius: 5px;
}

.nav-links li:hover{
	background: #9CD9C2;
	border: 1px solid #FDF063;
}

.nav-links li {
  border-bottom: none;
}

.show-nav {
  display: block;
}

.nav-links li a{
	text-decoration: none;
	color: #000;
}

.nav-links li a:hover{
	color: #FFF;
}

/* Navegação */
.nav-total{
	
	height: 100%;
	width: 100%;
}

.navegacao{
	margin-top: 2%;
	height: 38.5em;
	margin-bottom: 4.2%;
	
	background: ;
}

.col-4{
	width: 26.5%;
	height: 15em;
	
	margin-top: 4%;
	margin-right:2% ;
	margin-left: 4%;
}

.col-4 a{
	text-decoration: none;
	color: #000;
}

.col-4 p{
	margin: 30% 30% 25% 34%;
	height: 25%%;
	font-size: 130%;
	background: #FFF;
	width: 30%;
	padding: 2%;
	opacity: 1;
	border-radius: 5px;
	cursor: pointer;
}

.col-4 p:hover{
	opacity: 1;
	background: #9CD9C2;
	cursor: pointer;
}
.img1{
	opacity: 0.6;
	background-image: url("imgsub-2.jpeg");
	background-size: 130%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img1:hover{
	background-image: url("imgsub-2.jpeg");
	background-size: 130%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
	
}


.img2{
	opacity: 0.6;
	background-image: url("imgsub-3.jpeg");
	background-size: 135%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img2:hover{
	background-image: url("imgsub-3.jpeg");
	background-size: 135%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
	
}


.img3{
	opacity: 0.6;
	background-image: url("imgsub-4.png");
	background-size: 100%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img3:hover{
	background-image: url("imgsub-4.png");
	background-size: 100%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
}


.img4{
	opacity: 0.6;
	background-image: url("imgsub-6.jpeg");
	background-size: 100%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img4:hover{
	background-image: url("imgsub-6.jpeg");
	background-size: 100%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
}


.img5{
	opacity: 0.6;
	background-image: url("img5.jpeg");
	background-size: 100%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img5:hover{
	background-image: url("img5.jpeg");
	background-size: 100%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
}


.img6{
	opacity: 0.6;
	background-image: url("imgsub-5.jpeg");
	background-size: 100%;
	border-radius: 10px;
	background-repeat: no-repeat;
	border: 1px solid #FDF063;
}

.img6:hover{
	background-image: url("imgsub-5.jpeg");
	background-size: 100%;
	opacity: 1;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	border: 1px solid #9CD9C2;
}

/*Footer*/

footer{
	background: #9CD9C2;
	border-radius: 10px 10px 0 0;
	border: 1px solid #FDF063;
	height: 3.7em;
}

.foot-div{
	padding: 0.9%;
}

.foot-row{
}

.foot-row col-5,
.foot-row col-2,
.foot-row col-3,{
	border: 1px solid red;
}

.redes-sociais{
	height: 1.6em;
}

.row-redes-sociais{
	height: 1.6em;
}

.col-redes-sociais{
	margin: 0;
	padding: 0;
	height: 1px;
	height: 1.6em;
}

.col-redes-sociais a{
	text-decoration: none;
	color: #000;

}

.fa-instagram,
.fa-facebook,
.fa-linkedin{
	font-size: 160%;
	padding-top: 1%;
}

.contato,
.quem-somos{
	text-decoration: none;
	color: #000;
}

/* Página Vídeo*/

.nav-video{
	height: 42.5em;
}

.linha-1{
	display: flex;
	margin-top: 2%;
}

.linha-2{
	background: #000;
	border-radius: 10px;
	width: 70%;
	display: flex;
	height: 30em;
	display: flex;
	margin: 1% auto 1% auto;
}

.coluna-1{
	height: 2em;
	display: flex;
	margin: 2% auto 2% auto;
}

.coluna-2{
	width: 15.5%;
	height: 6.5em;
	display: flex;
	margin: auto auto auto auto;
}

.coluna-1 h4{
	display: flex;
	margin: 1% auto 1% auto;
}

.fa-youtube{
	font-size: 600%;
	color: red;
	padding-left: 4%;
}

.botao-back{
	color: #9CD9C2;
}

/*Página material*/

.fa-file-pdf{
	font-size: 600%;
	padding-left: 4%;
}

/*coluna avaliação*/

.coluna-avaliacao{
	width: 35%;
	height: 20em;
	display: flex;
	margin: auto auto auto auto;
	padding-top: 5%;
	padding-left: 9%;
}

.coluna-avaliacao ul{
	list-style: none;
}

.link-avaliacao{
	text-decoration: none;
	color: #9CD9C2;
}

/* Página certificado*/

.coluna-2 ul li button,
.coluna-duvidas ul li button{
	background: #9CD9C2;
}

/* Página duvidas*/

.coluna-duvidas{
	width: 18.5%;
	height: 7.5em;
	display: flex;
	margin: auto 27.5em auto auto;
}
